.power-search-pane {
    height: auto
}


/* TODO */


/* .highlight {
    background-color: rgb(144, 144, 255);
}

.power-search-toolbar {} */

.power-search-results-children {
    overflow: scroll;
    height: auto;
}

.power-search-results-child {}

.power-search-results-type {
    margin: 10px;
}

.power-search-results-card {
    overflow: scroll;
    max-height: 300px;
    transition: transform .7s;
    border: 0.3px groove;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    margin: 5px;
    width: auto;
    padding: 2px 16px;
}

.power-search-results-text {
    padding: 2px 10px;
}